repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    -   id: requirements-txt-fixer
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.7
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]
- repo: local
  hooks:
  - id: cargo-clippy
    name: cargo clippy
    language: system
    entry: cargo clippy --manifest-path advent_of_code_25/Cargo.toml --all-targets --all-features -- -D warnings
    always_run: true
    pass_filenames: false
    files: \.rs$
  - id: cargo-fmt
    name: cargo fmt
    language: system
    entry: cargo fmt --manifest-path advent_of_code_25/Cargo.toml
    always_run: true
    pass_filenames: false
    files: \.rs$
